.addTableControl{
}

.addTableControl div{
	padding-left: 10px;
	padding-right: 10px;
	width: 160px;
	float: left;
	height: 40px;
	margin: 5px;
}

.addTableControl div label{
	display: block;
	height: 20px;
	background-color: #eee;
}

.addTableControl div input,
.addTableControl div select{
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	padding: 2px;
}

textarea{
	width: 200px;
	height: 100px;
	
}
