.radiobutton{
	left: -9999px;
	/* top: -999px; */
	position: absolute;
}

label.radio-checked,
label.radio-unchecked{
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
	background-position: center left;
	background-repeat: no-repeat;
	background-image: url('images/radio-unchecked.jpg');
	padding-top: 3px;
	padding-bottom: 3px;
}

label.radio-checked{
	background-image: url('images/radio-checked.jpg');
}
